<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appName %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<form action="/logout" method="post">
    <div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="submit" value="Log out" />
    </div>
</form>
<h1>Home Page</h1>

<body>

</body>

</html>