<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appName %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<h1>Login Page</h1>
<form action="/login" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div>
        <label>Username:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
</form>

<body>

</body>

</html>