language: node_js
node_js:
  - '10.19.0'
install: yarn install
services:
  - mysql
before_script:
  - cp .env.example .env
  - mkdir public/storage
  - mkdir public/uploads
  - mysql -e 'CREATE DATABASE IF NOT EXISTS imagel_testing;'
script: yarn test
after_success: yarn run coverage