<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= env('APP_NAME') %></title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="p-4">
    <nav class="flex items-center justify-between flex-wrap bg-blue-600 mb-5 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight"><%= env('APP_NAME') %></span>
        </div>
        <div class="block lg:hidden">
            <button
                class="flex items-center px-3 py-2 border rounded text-blue-200 border-blue-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/home" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
                    Home
                </a>
            </div>
            <div>
                <a href="/signin"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-600 hover:bg-white mt-4 lg:mt-0">Sign
                    in</a>
                <a href="/signup"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-600 hover:bg-white mt-4 lg:mt-0">Sign
                    up</a>
            </div>
        </div>
    </nav>
     <% if (typeof(message)  == "object" && (message.errors.length || message.success.length ))  { %>
    <div class="p-4 rounded-md text-center w-auto mx-auto text-lg bg-red-200 md:w-1/2">
        <% if (message.errors) { %>
        <% for (const key in message.errors) { %>
        <small class='text-red-600'><%= message.errors[key] %></small><br>
        <% } %>
        <% } %>
        <% if (message.success) { %>
        <% for (const key in message.success) { %>
        <small class='text-green-500'><%= message.success[key] %></small>
        <% } %>
        <% } %>
        <% } %>
    </div>